.jumbotron{
	background-color:#CEEC71;
	color:black;
	margin-top:50px;
}

.lead{
	background-color:black;
	color:white;
}

.btn{
	background-color:#A66AEB;
	color:black;
	font-style:bold;
	
}
.footer{
	padding: 10px 10px 0 10px;
	background-color:#CEEC71;
	margin-bottom: 0px;
	margin-top:10px;
	color:black;
}
.footer-addres-icon {
	padding-right:10px;

}
.card-hotel{
	flex: 4 220px;
	padding: 2px 0px 2px 0px;
	margin-top:10px;
}

.btn-reserva{
	width:100%;
}
.btn-link{
	background-color:initial;
}

.p{
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	background-color: black;
	width: 100%;
	text-align: center;
	
}
.tab-content{
	padding-top: 10px;
}
.btn-outline-success{
	border-radius: 15px 15px 15px 15px;
	background-color: lemonchiffon;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	
}



