.jumbotron {
  background-color: #3ad494;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 10px; }

.lead {
  background-color: #000000;
  color: #f5fcf9; }

.btn {
  background-color: #d467f0;
  color: #000000;
  font-style: bold; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #3ad494;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #000000; }

.footer-addres-icon {
  padding-right: 10px; }

.card-hotel {
  flex: 4 220px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.btn-link {
  background-color: #f5fcf9; }

.p {
  font-family: Arial, Helvetica, sans-serif;
  color: #f5fcf9;
  background-color: #000000;
  width: 100%;
  text-align: center; }

.tab-content {
  padding-top: 10px; }

.btn-outline-success {
  border-radius: 15px 15px 15px 15px;
  background-color: #f5fcf9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
