//Definir variables en sass se empieza con el sigo peso
$green:#3ad494;
$white:#f5fcf9;
$black:#000000;
$purple:#d467f0;


@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
	background-color:$green;
	color:$black;
	@include margenes(50px,10px);
}

.lead{
	background-color:$black;
	color:$white;
}

.btn{
	background-color:$purple;
	color:$black;
	font-style:bold;
	
}
.footer{
	padding: 10px 10px 0 10px;
    background-color:$green;
    @include margenes(10px,0px);
	color:$black;
}
.footer-addres-icon {
	padding-right:10px;

}
.card-hotel{
	flex: 4 220px;
	padding: 2px 0px 2px 0px;
	@include margenes(10px,0px);
}

.btn-reserva{
	width:100%;
}
.btn-link{
	background-color:$white;
}

.p{
	font-family: Arial, Helvetica, sans-serif;
	color:$white;
	background-color:$black;
	width: 100%;
	text-align: center;
	
}
.tab-content{
	padding-top: 10px;
}
.btn-outline-success{
	border-radius: 15px 15px 15px 15px;
	background-color: $white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





